In [1]:
import pandas as pd

In [2]:
# Downloading Dataset
!gdown 1wG8GaMi1hhfY6DsUPFjFtDYkumA-m2Xj

Downloading...
From: https://drive.google.com/uc?id=1wG8GaMi1hhfY6DsUPFjFtDYkumA-m2Xj
To: /content/weather.csv
100% 12.0k/12.0k [00:00<00:00, 14.5MB/s]

In [3]:
weather = pd.read_csv('weather.csv')

In [4]:
weather.head()

,year,month,element,day1,day2,day3,day4,day5,day6,day7,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,2018,1,max,17.573016,19.796815,22.412495,17.813163,20.165825,17.060539,22.736134,...,22.629226,19.013674,17.831558,17.018316,21.837387,19.700255,19.084056,18.534690,20.787275,21.117423
1,2018,1,min,22.725760,21.007865,17.730792,18.045290,20.766734,18.656651,22.607481,...,21.163491,17.371653,17.194530,18.964190,17.892385,17.646139,19.844125,22.729859,19.768917,20.913443
2,2018,2,max,19.015120,19.261805,17.510713,21.080425,17.915749,19.082145,18.056023,...,21.254968,20.346324,20.036019,22.926773,17.533172,20.308927,20.438899,17.005806,18.346534,20.878165
3,2018,2,min,18.653843,22.818600,21.842673,21.958159,22.523078,18.535469,19.636158,...,19.711974,20.586232,18.780840,20.065633,18.293548,20.823661,18.056112,22.748292,22.470172,18.602007
4,2018,3,max,20.741115,19.704016,17.039811,20.703908,22.714125,17.205000,19.079503,...,19.528963,19.563689,22.658997,22.446357,17.911240,22.591993,17.406800,19.118712,22.767154,17.119452

In [5]:
weather.shape # wide data, or rectangular data

(22, 34)

--------------------------
## Restructuring of Data

**Pandas melt()** function is used to change the DataFrame format from wide to long. It’s used to create a specific format of the DataFrame object where one or more columns work as identifiers. All the remaining columns are treated as values and unpivoted to the row axis and only two columns - variable and value.

In [6]:
weather_melt=pd.melt(weather,id_vars=['year','month','element'], # columns we want to preserve
                    var_name='day',value_name='temp')

In [7]:
weather_melt

     year  month element    day       temp
0    2018      1     max   day1  17.573016
1    2018      1     min   day1  22.725760
2    2018      2     max   day1  19.015120
3    2018      2     min   day1  18.653843
4    2018      3     max   day1  20.741115
..    ...    ...     ...    ...        ...
677  2018     10     min  day31  21.691537
678  2018     11     max  day31  20.750438
679  2018     11     min  day31  18.939767
680  2018     12     max  day31  19.648924
681  2018     12     min  day31  18.775539

[682 rows x 5 columns]

In [8]:
weather_melt.pivot(index=['year','month','day'],columns='element',values='temp')

element                 max        min
year month day
2018 1     day1   17.573016  22.725760
           day10  19.067288  19.931129
           day11  19.361002  22.598325
           day12  20.982134  17.715137
           day13  21.668005  17.940334
...                     ...        ...
     12    day5   21.375349  20.865535
           day6   17.992885  20.310116
           day7   19.683359  20.531823
           day8   20.477046  19.310346
           day9   20.210640  22.820992

[341 rows x 2 columns]

In [9]:
weather_tidy=weather_melt.pivot(index=['year','month','day'],columns='element',values='temp').reset_index()

melt --> melt the columns into a single column, columns ---> column values in rows

pivot_table --> convets values of a column into seperate columns

In [10]:
# Saving data to new csv
weather_tidy.to_csv('weather_tidy',sep=',')

In [11]:
!ls

sample_data  UberDrives.csv  weather.csv  weather_tidy

--------------------------------------------------------------------------------

# Uber Case:
Handling Timestemp data

In [12]:
!gdown 1TL2hWkMWtD1ExVgaQhWP6A2swR8F8cVB

Downloading...
From: https://drive.google.com/uc?id=1TL2hWkMWtD1ExVgaQhWP6A2swR8F8cVB
To: /content/UberDrives.csv
100% 86.4k/86.4k [00:00<00:00, 47.7MB/s]

In [13]:
data = pd.read_csv('UberDrives.csv')

In [14]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [15]:
data.shape

(1156, 7)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [17]:
data.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [18]:
data.drop(1155, axis=0, inplace=True)
data.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [19]:
# Checking null-values
data.isnull().sum(axis=0)

START_DATE*      0
END_DATE*        0
CATEGORY*        0
START*           0
STOP*            0
MILES*           0
PURPOSE*       502
dtype: int64

In [20]:
data.describe()

            MILES*
count  1155.000000
mean     10.566840
std      21.579106
min       0.500000
25%       2.900000
50%       6.000000
75%      10.400000
max     310.300000

In [21]:
data.describe(include='object')

            START_DATE*        END_DATE* CATEGORY* START* STOP* PURPOSE*
count              1155             1155      1155   1155  1155      653
unique             1154             1154         2    177   188       10
top     6/28/2016 23:34  6/28/2016 23:59  Business   Cary  Cary  Meeting
freq                  2                2      1078    201   203      187

In [22]:
data.loc[data.duplicated()]

         START_DATE*        END_DATE* CATEGORY*  START* STOP*  MILES* PURPOSE*
492  6/28/2016 23:34  6/28/2016 23:59  Business  Durham  Cary     9.9  Meeting

In [23]:
data.drop_duplicates(inplace=True)

In [24]:
data.loc[data.duplicated()]

Empty DataFrame
Columns: [START_DATE*, END_DATE*, CATEGORY*, START*, STOP*, MILES*, PURPOSE*]
Index: []

In [25]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [26]:
# Removing * from columns name
data.columns = [col_name[:-1] for col_name in data.columns]

In [27]:
data.columns

Index(['START_DATE', 'END_DATE', 'CATEGORY', 'START', 'STOP', 'MILES',
       'PURPOSE'],
      dtype='object')

In [28]:
data.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

--------------------
**How to Handle timestamp data**

In [29]:
data['START_DATE'] = pd.to_datetime(data['START_DATE'])

In [30]:
data['END_DATE'] = pd.to_datetime(data['END_DATE'])

In [31]:
data.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1154 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1154 non-null   datetime64[ns]
 1   END_DATE    1154 non-null   datetime64[ns]
 2   CATEGORY    1154 non-null   object
 3   START       1154 non-null   object
 4   STOP        1154 non-null   object
 5   MILES       1154 non-null   float64
 6   PURPOSE     652 non-null    object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 72.1+ KB

In [33]:
# Journy which havesame start and end time 
data.loc[data['START_DATE']==data['END_DATE']]

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
751,2016-09-06 17:49:00,2016-09-06 17:49:00,Business,Unknown Location,Unknown Location,69.1,NaN
761,2016-09-16 07:08:00,2016-09-16 07:08:00,Business,Unknown Location,Unknown Location,1.6,NaN
798,2016-10-08 15:03:00,2016-10-08 15:03:00,Business,Karachi,Karachi,3.6,NaN
807,2016-10-13 13:02:00,2016-10-13 13:02:00,Business,Islamabad,Islamabad,0.7,NaN

In [34]:
data.loc[data['START_DATE']==data['END_DATE']].index

Int64Index([751, 761, 798, 807], dtype='int64')

In [35]:
data.drop([751, 761, 798, 807], axis=0, inplace=True)

In [36]:
data.shape

(1150, 7)

In [37]:
data['START_DATE'] # give series

0      2016-01-01 21:11:00
1      2016-01-02 01:25:00
2      2016-01-02 20:25:00
3      2016-01-05 17:31:00
4      2016-01-06 14:42:00
               ...
1150   2016-12-31 01:07:00
1151   2016-12-31 13:24:00
1152   2016-12-31 15:03:00
1153   2016-12-31 21:32:00
1154   2016-12-31 22:08:00
Name: START_DATE, Length: 1150, dtype: datetime64[ns]

In [38]:
ts = data['START_DATE'][0]
ts

Timestamp('2016-01-01 21:11:00')

In [39]:
ts.year

2016

In [40]:
ts.month

1

In [41]:
ts.day

1

In [42]:
ts.month_name()

'January'

In [43]:
ts.day_name()

'Friday'

In [44]:
ts.hour

21

In [45]:
data['END_DATE'].dt.year

0       2016
1       2016
2       2016
3       2016
4       2016
        ...
1150    2016
1151    2016
1152    2016
1153    2016
1154    2016
Name: END_DATE, Length: 1150, dtype: int64

In [46]:
data['END_DATE'].dt.month_name()

0        January
1        January
2        January
3        January
4        January
          ...
1150    December
1151    December
1152    December
1153    December
1154    December
Name: END_DATE, Length: 1150, dtype: object

-----------------

In [47]:
# What is the shortest journey made? - miles
# What is the longest journey made? - miles
# What is the average journey made? - miles
# How many years of data do we have? - count

In [48]:
data.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [50]:
# What is the shortest journey made? - miles

data['MILES'].min()

0.5

In [51]:
# What is the longest journey made? - miles

data['MILES'].max()

310.3

In [52]:
# What is the average journey made? - miles
data['MILES'].mean()

10.538956521739129

In [62]:
# How many years of data do we have? - count
data['START_DATE'].dt.year.nunique()

1

In [63]:
data['START_DATE'].dt.month.nunique()

12

-----------------------------------
# Basic Descriptive Statistics

In [66]:
# Measures of central tendency

In [67]:
data["MILES"].mean()

10.538956521739129

In [68]:
data["MILES"].min(), data["MILES"].max()

(0.5, 310.3)

In [69]:
# robust estimator to extreme values
data["MILES"].median()

6.0

In [70]:
# mean, median, mode

In [71]:
data['PURPOSE'].mode()

0    Meeting
dtype: object

In [73]:
data['PURPOSE'].value_counts(dropna=False)

NaN                498
Meeting            186
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Charity ($)          1
Commute              1
Name: PURPOSE, dtype: int64

In [74]:
# Measures of dispersion/variability

In [75]:
data['MILES'].std()

21.55235968026448

In [76]:
from scipy import stats

In [80]:
stats.median_absolute_deviation(data['MILES'])

<ipython-input-80-03122b7122de>:1: DeprecationWarning: `median_absolute_deviation` is deprecated, use `median_abs_deviation` instead!

To preserve the existing default behavior, use
`scipy.stats.median_abs_deviation(..., scale=1/1.4826)`.
The value 1.4826 is not numerically precise for scaling
with a normal distribution. For a numerically precise value, use
`scipy.stats.median_abs_deviation(..., scale='normal')`.

  stats.median_absolute_deviation(data['MILES'])

5.337359999999999

In [81]:
# estimate of percentiles

In [82]:
import numpy as np
np.percentile(data['MILES'], 50)

6.0

In [83]:
np.percentile(data['MILES'], 30)

3.2

In [84]:
np.percentile(data['MILES'], 90)

17.010000000000012

In [86]:
np.percentile(data['MILES'], 99)

134.82399999999998

In [87]:
# IQR - Interquartile Range - 75th percentile - 25th percentile - Q3-Q1
np.percentile(data['MILES'], 75) - np.percentile(data['MILES'], 25)

7.5

In [88]:
# Outlier Decection - 1.5*IQR

In [89]:
# [Q1 - 1.5*IQR, Q3 + 1.5*IQR]